.footer {
    background-color: grey;
    
}
.links{
    left:35%; 
    position: absolute;
    top: 0%;
}

.address{
    left: 50%; 
    position: absolute;
    top: 0%;
}
.socials{
    left: 70%; 
    position: absolute;
    top: -1%;
}